form[name=sqlForm] > div {
    margin: auto;
    width: 97%;
}

table.tableStyle2 tr.data-row:nth-child(odd) td {
    background: #DAEEF3;
}

table.tableStyle2 tr.data-row:hover td {
    background: #A2DEE8;
}

table.tableStyle2 tr.data-row.checked td {
    background: #CFCFCF;
}

.CodeMirror-wrapping {
    height: 150px;
    border: 1px solid #C4C9FD;
    resize: both;
    overflow: auto;
    /*background: #E5F1F4;*/
}

.CodeMirror-wrapping > iframe {
    margin-left: -17px;
    margin-right: -16px;
}

.CodeMirror-line-numbers {
    padding: .4em;
    background-color: #F7F7F7;
    font-family: monospace;
    text-align: right;
}