body {
    min-width: 500px;
}
#divBottom {
    height: 30px;
    margin-top: 10px;
}
#divMessage {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 5px;
}
#divButtons {
    display: inline-block;
    float: right;
    text-align: right;
}
#txtDefaultSql {
    resize: none;
    height: 268px;
    width: 100%;
}