.hidden {
    display: none;
}
body {
    min-width: 600px;
    min-height: 450px;
}
#tabs {
    min-height: 400px;
    overflow: auto;
}
#divBottom {
    height: 30px;
    margin-top: 10px;
}
#divMessage {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 5px;
}
#divButtons {
    display: inline-block;
    float: right;
    text-align: right;
}
#txtDefaultSql {
    resize: none;
    height: 268px;
    width: 100%;
}
.color-item {
    margin: 8px 0;
}
.color-item > .text {
    width: 60px;
    font-family: monospace;
}
.color-item > .display {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 12px;
    margin: 0 3px -3px;
}
.color-item > .label {
    display: inline-block;
    width: 400px;
}