.hidden {
    display: none;
}
body {
    min-width: 600px;
    min-height: 450px;
}
#tabs {
    min-height: 400px;
    overflow: auto;
}
#divBottom {
    height: 30px;
    margin-top: 10px;
}
#divMessage {
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 5px;
}
#divButtons {
    display: inline-block;
    float: right;
    text-align: right;
}
#txtDefaultSql {
    resize: none;
    height: 268px;
    width: 100%;
}
.tab-item.indent-1 {
    margin-left: 20px;
}
.tab-column {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: max-content;
}
.tab-item {
    margin: 13.2px 0;
}
.tab-item > * {
    vertical-align: middle;
}
.color-item > .text {
    width: 60px;
    font-family: monospace;
}
.color-item > .display {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 12px;
    margin: 0 3px;
}
.color-item > .label {
    display: inline-block;
    width: 400px;
}
.tab-column:first-child > .format-item > label {
    text-align: right;
    display: inline-block;
    width: 120px;
}
.tab-column:first-child > .format-item > input[type=text],
.tab-column:first-child > .format-item > input[type=number] {
    width: 50px;
}